[Unit]
Description=Screensaver
Documentation=man:xscreensaver man:xscreensaver-command man:xscreensaver-demo
Conflicts=cinnamon-screensaver.service

[Service]
Type=simple
ExecStart=/usr/bin/xscreensaver -no-splash
ExecStop=/usr/bin/xscreensaver-command -exit

[Install]
WantedBy=default.target
